*{
  margin : 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-bottom : 1px solid lightgray;
}

.app__headerImage{
  object-fit: contain;
}
 .app__headerAvatar{
object-fit: contain;
 
 }

 .app__signup{
   display: flex;
   flex-direction: column;
 }